Thumbs.db
.DS_Store
.gradle
build/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
grails-app/assets/stylesheets/.sass-cache/
!gradle/wrapper/gradle-wrapper.jar
/build/
target/
stacktrace.log
/*.log
*.tmp
*.swp